body {
	text-align: center;
	background-color: rgb(22, 125, 243);
}


.dice-block {
	display: inline-block;
	margin: 0 40px 0;
	padding: 3%;
}

.dice-img1 {
	border: 2px solid rgb(34, 32, 34);
	border-radius: 15px;
	margin-top: 20px;
}

.dice-img2 {
	border: 2px solid rgb(34, 32, 34);
	border-radius: 15px;
	margin-top: 20px;
}

h1, h3 {
	font-family: cursive;
	font-style: italic;
	margin: 0;
	color: rgb(226, 24, 24);
}

h1 {
	font-size: 5rem;
}

h3 {
	font-size: 2.5rem;
}

.flag-img {
	width: 8 0px;
	height: 80px;
	padding: 2% 2% 0;
}

p {
	font-size: 1.3rem;
	color: #fff;
}

button {
	height: 40px;
	border: 1px solid rgb(34, 32, 34);
	border-radius: 10px;
	background-color: brown;
	padding: 10px;
}