body {
    background-color: #eaf6f6;
    margin: 0;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: grey;


}
h3, h2 {
color: #15d8d8;
}

h3:hover {
    transition: ease-in-out;
    transform: scaleY(2.1);
}
img {
    border-radius: 50%;
   width: 200px;
   height: 200px;
}

div {
    display: inline-block;
}
.red {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 200px;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
}

.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    }