body {
    margin: 0;
    text-align: center;
}
  
p {
    font-size: 1.3rem;
}
.top-container, .navigate{
    background-color: #EAF6F6;
    margin: 0;
}

.navigate {
    padding: 3% 15%;
}

a {
    text-decoration: none;
}

li, .nav-link{
    display: inline-block;
    margin: 10px;
}

ul {
    list-style-type: none;
}

h3, a, .nav-link, .footer-link {
     color: #11999E;
}
h1, h2 {
      color: #66BFBF;
}
 
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: #EAF6F6;
    margin: 5% auto;
    display: block;

}

h1 {
        width: 20%;
        margin: auto;
        font-family: 'Sacramento', cursive;
        font-size: 3rem;
}

.pro {
        text-decoration: underline;
}

.mountain {
  width: 70%;
}

.cloud-bottom {
    position: absolute;
    left: 100px;
}

.cloud-top {
    position: relative;
    left: 300px;
}

.middle-container {
    padding: 3%;
}

.profile, .skill-row1 {
    width: 50%;
    margin: 0 auto 20px;
}

.profile-pic {
  width: 25%;
  border-radius: 50%;
}


.skill-img {
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    text-align: end;
}

.skill-row1 {
    text-align: left;
    margin: 40px auto;
}

.skill-row2 {
    width: 50%;
    margin: 40px auto;
    text-align: left;
}
.skill-img2 {
    float: right;
    margin-left: 30px;
    width: 25%;
    border-radius: 100%;
}

.contact-me {
    width: 40%;
    padding: 0;
    margin: 0 auto;
}

.btn {
    border-radius: 26px;
    color: #EAF6F6;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    padding: 12px;
    margin: 30px auto 40px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
}
    
.btn:hover {
    border: solid #FFFFFF 0px;
    background: #30E3CB;
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    border-radius: 27px;
    text-decoration: none;
 }

.footer-link {
    text-decoration: none;
    color: #11999E;
    margin: 20px 15px;
}
.bottom-container {
    display: block;
    padding: 3% 15%;
    background-color: #66BFBF;
}

.bottom-container p {
    color: #EAF6F6;
    margin: 2rem 0 0;
}

@media screen and (max-width: 1028px) {
    body {
        text-align: center;
    }
    .cloud-top {
        position: static;
       
    }
    .mountain {
        width: 100%;
      
      }

    
}