body {
    margin: 0;
    text-align: center;
    
}
  
.top-container {
    background-color: #EAF6F6;
}

.navigate {
   background-color: #EAF6F6;
   margin: 0;
    padding: 30px auto 30px;
}
a {
    text-decoration: none;
    color: #11999E;
}

li {
    display: inline-block;
    margin: 10px;

}
nav {
    position: sticky;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link {
     color: #11999E;
    margin: 10px;
    
    display: inline-block;

}
h1, h2 {
      color: #66BFBF;
    
}
h3 {
   color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: #EAF6F6;
    margin: 40px auto 30px;
    display: block;

}

h1 {
        width: 20%;
        margin: auto;
        font-family: 'Sacramento', cursive;
        font-size: 3rem;
    }

.pro {
        text-decoration: underline;
    }

.mountain {
  width: auto;
}
.cloud-bottom {
    position: absolute;
    left: 100px;
}
.cloud-top {
    position: relative;
    left: 300px;
}

.profile {
    width: 50%;
    margin: 40px auto 50px;
}

.skills {
    margin: 30px auto 30px;
}

.profile-pic {
  width: 25%;
  border-radius: 100%;
}

.skill-img {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 60px auto 40px auto;
    text-align: left;
    
}
.skillimg2 {
    float: right;
    margin-left: 30px;
}
.bottom-container {
    display: block;
    padding: 30px 30px;
    background-color: #66BFBF;
}
.btn {
    border-radius: 26px;
    color: #EAF6F6;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
    padding: 12px;
    margin: 30px auto 40px;
    background-color: #66BFBF;
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }
    
    .btn:hover {
    border: solid #FFFFFF 0px;
    background: #30E3CB;
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    border-radius: 27px;
    text-decoration: none;
    }

.contact-me {
    width: 40%;
    text-align: center;
    margin: 60px auto 60px;
}
.contact-me h2 {
  margin-left: 150px;
  margin-right: 150px;
}
.footer-link {
    text-decoration: none;
    color: #11999E;
    margin: 15px;

}
.bottom-container p {
    color: #EAF6F6;
    margin-top: 2rem ;
    margin-bottom: 0em;
}